body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header {
  background-color: #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo-accent {
  color: #2e2f42;
}
.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.link:hover,
.link:focus,
.active {
  color: #404bbf;
}
.contact {
  color: inherit;
  font-weight: 400;
  font-style: normal;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-title {
  /* color: #ffffff; */
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  cursor: pointer;
  color:inherit;
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.advantages {
  /* background-color: #fff; */
}
.advantages-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team {
  background-color: #f4f4fd;
  text-align: center;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.footer-link {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.167;
  text-transform: uppercase;
}
.logo-footer-accent {
  color: #4d5ae5;
}
